<h1>About us</h1>

	 <p> My name is Jackie Barr and I am a dual major from Cupertino, California studying public relations and information management at Syracuse University.  In the creative space, my efforts are divided amongst photography, print-design, and web-design.
	 I spend my free time reading books and teaching myself about subjects that I care about: education reform, design etc. I am inspired by people like Steve Jobs and Salman Khan &#8212; driven individuals who have changed our generation.  </p> 
	
	<br></b>
    </div>